<!DOCTYPE html>
<html>
<head>
    <!-- Configurando o titulo da pagina-->
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <!-- Se não for informando o titulo sera usado um padrão-->
    <title> TeobaldoGames</title>
    {% endif %}
    
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/dist/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!--         Corpo da pagina        -->
<body>
    <!-- Configurando topo -->
    <header>
        <div class="container">
            <h1 class="logo"> TeobaldoGames</h1>
            
            <strong>
                <nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('home') }}">HOME</a></li>
                        {% if g.user.is_authenticated() %}
                            <li><a href="{{ url_for('user', nickname=g.user.nickname) }}">PROFILE</a></li>
                            <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
                            <li><a href="{{ url_for('addgame') }}">ADD GAME</a></li>
                            <li><a href="{{ url_for('mylistgames') }}">MY LIST GAME</a></li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}">LOGIN</a></li>
                            <li><a href="{{ url_for('singup') }}">SIGN UP</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </strong>
        </div>
        <div class="search-game">
            <form action="{{ url_for('game')}}" method="post" name="searchgame">
                {{ g.form.words(size=50)}}        
                <input type="submit" value="search games">
            </form>
        </div>
    </header>
    <!-- Fim da configuração do topo  -->
    <div class="body">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }} </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>