<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Configurando o titulo da pagina-->
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <!-- Se não for informando o titulo sera usado um padrão-->
    <title> TeobaldoGames</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='teste2.css')}}">
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/dist/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!--         Corpo da pagina        -->
<body>
    <!-- Configurando topo -->
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('home')}}">Teobaldo Games </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
                {% if g.user.is_authenticated() %}
                            <li><a href="{{ url_for('addgame') }}">Adicionar Jogo</a></li>
                            <li><a href="{{ url_for('mylistgames') }}">Meus Jogos</a></li>
                            <li><a href="{{ url_for('user', nickname=g.user.nickname, id = g.user.id)}}">{{g.user.nickname}}</a></li>
                            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Perfil <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    
                    <li><a href="{{ url_for('addcoin')}}">Adicionar TGCoin</a></li>
                    <li><a href="{{ url_for('editeperfil')}}">Editar Perfil</a></li>
                    <li><a href="{{ url_for('editephoto')}}">Editar Foto</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('logout') }}">Sair</a></li>                    
                  </ul>
                </li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}">Entrar</a></li>
                            <li><a href="{{ url_for('singup') }}">Cadastrar</a></li>
                        {% endif %}
                
              </ul>
              <div id="navbar" class="navbar-collapse collapse">
          <form action="{{url_for('game')}}" class="navbar-form navbar-right" role="form" style="margin-right: 20px;" method="post">
            <div class="form-group">
              <input name ='search' type="text" placeholder="Digite o nome do jogo" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Pesquisar</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
            </div>
          
          
        </nav>

      </div>
    </div>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>