{% extends "base.html" %}
{% block content %}
	
	<style type="text/css">

.form-signup {
  max-width: 430px;
  padding: 10px;
  margin: 0 auto;
}
.form-signup .form-signup-heading,
.form-signup {
  margin-bottom: 10px;
}
.form-signup {
  font-weight: normal;
}
.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 4;
}
.form-signup input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
	</style>

	<form class="form-signup" method="post" name="cadastro">
		{{ form.hidden_tag() }}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li class="list-group-item list-group-item-danger">{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
		<h2 class="form-signup-heading">Cadastro Usuario</h2>
		<label>URL da Imagem</label>		
			{{ form.photo(size=50, class='form-control') }}
		<label>Nome</label>
			{{ form.name(size=50, class='form-control') }}<br>
		<label>Email</label>
			{{ form.email(size=50, class='form-control') }}<br>
			<ul>
          {% for error in form.email.errors %}
                  <li class="list-group-item list-group-item-danger">{{ error }} </li>
                {% endfor %}<br>
                </ul>
		<label>Nickname</label>
			{{ form.nickname(size=30, class='form-control') }}<br>
			<ul>
          {% for error in form.nickname.errors %}
                  <li class="list-group-item list-group-item-danger">{{ error }} </li>
                {% endfor %}<br>
                </ul>
		<label>Password</label>
			{{ form.password(size=30, class='form-control') }}<br>
			
		<button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
	</form>
{% endblock %}