{% extends "base.html" %}
{% block content %}
	<h1>Cadastro Usuario</h1>
	<form action="" method="post" name="cadastro" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		
		<p>
			Imagen: {{ form.photo(size=50) }}<br>
			{% for error in form.photo.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
		</p>

		<p>
			Nome: {{ form.name(size=50) }}<br>
			{% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
		</p>

		
		<p>
			Email: {{ form.email(size=50) }}<br>
			{% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
		</p>

		<p>
			Username: {{ form.nickname(size=30) }}<br>
			{% for error in form.nickname.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
		</p>

		<p>
			Password: {{ form.password(size=30) }}<br>
			{% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
		</p>
		<p><input type="submit" value="cadastro"></p>
	</form>
{% endblock %}