{% extends "base.html" %}

{% block content %}
<style type="text/css">

.form-signin {
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 30px;
}
.form-signin {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
		
		
	<form class="form-signin" method="post" name="addGame" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<h2 class="form-signin-heading">Atualizar dados do Game</h2>
		<label>Foto atual</label>
		{% if game.photo %}
         	<img class="img-circle" src="{{ game.photo }}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
    	{% else %}
        	<img class="img-circle" src="http://i.imgur.com/6fy9Lw0.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
    	{% endif%}<br><br>
		<label>Nova URL da Imagem</label>
			{{ form.photo_game(size=80, class='form-control') }}			
		<label>Nome</label>
			{{ form.name(size=50, value = game.name, class='form-control',class='form-control') }}<br>
		<label>Descrição</label>
			{{ form.description(size=1000, placeholder = game.description, class='form-control') }}<br>
		<label>Total TGCoins</label>
			 
			{{ form.price(size=10, value=game.price, class='form-control') }}<br>
			<ul>
          {% for error in form.price.errors %}
                  <li class="list-group-item list-group-item-danger">{{ error }} </li>
                {% endfor %}<br>
                </ul>
          	

		<button class="btn btn-lg btn-primary btn-block" type="submit">Atualizar</button>
	</form>
{% endblock %}