{% extends "base.html" %}
{% block content%}
    <div class="container marketing">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li class="list-group-item list-group-item-danger">{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
      <!-- Three columns of text below the carousel -->
    <div class="row">
    {% if games %}   
    {% for game in games %}
        {% include "icon_game.html" %}
    {% endfor %}
    {% else %}
        <h1>Nao ha jogos add</h1>
    {%  endif %}
    </div>
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Seu site de comprar e Venda de <span class="text-muted">Jogos .</span></h2>
          <p class="lead">Teobaldo Games é o site onde você pode comprar e vender jogos. Tem um jogo que não quer mais? Quer um jogo novo para seu console? Em nosso site você encontrará pessoas na mesma situação que você.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="http://casadoquejoga.files.wordpress.com/2012/03/personagens.jpg">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="http://i.imgur.com/KyIcyrP.jpg">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Qual Proposito do site?<span class="text-muted">Ajudar você comprar e Vender Jogos.</span></h2>
          <p class="lead">Em TeobaldoGames você encontra jogos dos mais variados tipos e preços. São
          os próprios usuários que revende seus jogos. E você também pode vender os seus.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Como posso comprar Jogos?<span class="text-muted">Simples</span></h2>
          <p class="lead">A primeira coisa que você precisa fazer é estar logado, se não tem uma conta ainda, você pode
          criar uma em signup, depois você precisa obter coins do site, com elas poderar comprar o jogo</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="http://i.imgur.com/6fy9Lw0.png">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="http://i.imgur.com/kE0pyNo.jpg">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Obtenha coins.<span class="text-muted">Assim poderá comprar jogos</span></h2>
          <p class="lead">TeobaldoGames usa um sistema com suas próprias moedas digitais, com elas será possivel
          adquirir jogos. Existe duas formas de adquirir coins, a primeira comprando elas em add coins em seu perfil
          , a segunda forma é vendendo seus jogos.</p>
        </div>
      </div>

      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}