{% extends "base.html" %}

{% block content %}
		<div class='user'>
    <div class="row featurette">
       <div class="col-md-5">
          {% if user.photo %}
          <img class="img-thumbnail"  src="{{user.photo}}" style="width: 240px; height: 240px;">
          {% else %}
          <img class="img-thumbnail"  src="http://i.imgur.com/6fy9Lw0.png" style="width: 240px; height: 240px;">
          {% endif %}
      </div>
       <div class="col-md-7">
        <h2 class="featurette-heading">Nome: {{user.name}}<br><span class="text-muted">  Nickname: {{user.nickname}}</span></h2>
        <p class="lead">Email {{ user.email }} <br> Total TGCoins: {{user.coin}}</p>
      </div>
    </div>

          <div class="row">
          {% if jc%}
          <h1>Jogos comprados</h1>
            {% for game in jc %}
              {% include "jogoscomprados.html" %}
              
            {% endfor %}
          {% else %}
            não Tem jogo comprado ou foi vendido 
          {% endif %}
          </div>
          <br>
          <hr>
          <div class="row">
          {% if jv%}
          <h1>Jogos vendidos</h1>
            {% for game in jv %}
              {% include "jogosvendidos.html" %}
            {% endfor %}
          {% else %}
            não Tem jogo vendidos. 
          {% endif %}
          </div>
        </div>
{% endblock %}